{% extends 'base.html' %}
{% load bootstrap3 %}
{% load tags %}

{% block content %}
<div class="row">
  <ul>
    <li>Ημερομηνία καταχώρησης: {{ order.created_at }}</li>
  </ul>
</div>
<div class="row">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Προιόν</th>
      <th>Ποικιλία</th>
      <th>Παραγωγός</th>
      <th>Ποσότητα</th>
      <th>Παραδοτέα Ποσότητα</th>
      <th>Τιμή</th>
  </thead>
  <tbody>
    {% for item in order.items.all %}
    <tr>
      <td>{{ item.product_stock.product.name }}</td>
      <td>{{ item.product_stock.variety }}</td>
      <td>{{ item.product_stock.producer.get_full_name }}</td>
      <td>{{ item.quantity|floatformat }}</td>
      {% if item.quantity_fulfilled is not None %}
	<td>{{ item.quantity_fulfilled }}</td>
      {% else %}
	<td>—</td>
      {% endif %}
      <td>{{ item.total_price|currency }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>Σύνολο</strong></td>
      <td><strong>{{ order.total_price|currency }}</strong></td>
    </tr>
  </tbody>
</table>
{% endblock %}
