{% extends 'base.html' %}
{% load bootstrap3 %}
{% load tags %}

{% block content %}
<div class="row">
{% if cart.items.all %}
  {% bootstrap_alert "Η παραγγελία σας θα οριστικοποιηθεί αυτόματα στις ..." dismissable=false %}
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Προιόν</th>
      <th>Ποικιλία</th>
      <th>Παραγωγός</th>
      <th>Περιγραφή</th>
      <th>Ποσότητα</th>
      <th>Τιμή</th>
  </thead>
  <tbody>
    {% for item in cart.items.all %}
    <tr>
      <td>{{ item.product_stock.product.name }}</td>
      <td>{{ item.product_stock.variety }}</td>
      <th>{{ item.product_stock.producer.get_full_name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.total_price|currency }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{% bootstrap_alert "Το καλάθι σας είναι αδειανό" dismissable=false %}
{% endif %}
</div>
{% endblock %}
