# need because of stupid https://github.com/django/django/commit/a3db480393d0065fc69834057f0e02a4afc65df9
# git+https://github.com/django/django.git#egg=django
django

django-bootstrap3
django-registration
django-phonenumber-field
django-related-admin
django-widget-tweaks
django-templated-email
dj-database-url
celery
django-celery
python-dateutil
pytz
whitenoise
bootstrap-admin
psycopg2
gunicorn
