{% extends 'base.html' %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load tags %}

{% block content %}
<h2>Λίστα Προϊόντων</h2>

{% for product in products %}
<h3>{{ product.name }}</h3>
<p>{{ product.description }}</p>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Παραγωγός</th>
      <th>Ποικιλία</th>
      <th>Περιγραφή</th>
      <th>Τιμή ανά {{ product.unit.name }}</th>
      <th></th>
  </thead>
  <tbody>
    {% for stock in product.stocks.all %}
    <tr>
      <td>{{ stock.producer.get_full_name }}</td>
      <td>{{ stock.variety }}</td>
      <td>{{ stock.description }}</td>
      <td>{{ stock.price|currency }}</td>
      <td>
	<form class="cart-add-product-form form-inline" method="post" action="{% url 'cart-add' %}">
	  {% csrf_token %}
	  {% render_field stock.cart_add_form.quantity class+="form-control" %}
	  {{ stock.cart_add_form.stock_id }}
	  <button class="btn btn-primary">
	    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
	    Προσθήκη
	  </button>
	</form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
{% empty %}
{# TODO: find a way to break this to multiple lines #}
{% bootstrap_alert "Δεν υπάρχουν διαθέσιμα προϊόντα για αυτό το σημείο διάθεσης" alert_type='warning' dismissable=false %}
{% endfor %}
{% endblock %}
